{% extends 'base.html' %}

{% block title %} Адмін панель {% endblock %}

{% block link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/admin_panel.css') }}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}


{% block body %}
<div class="row">
    <!-- Menu -->
    <div class="side-menu">    
    <nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <div class="brand-wrapper">
            <div class="brand-name-wrapper">
                <a class="navbar-brand" href="#">
                    Адмін панель
                </a>
            </div>
        </div>
    </div>

    <!-- Main Menu -->  
    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <li><a href="/admin/add-post"><span class="glyphicon glyphicon-send"></span>Добавити пост</a></li>
            <li class="active"><a href="/admin/list-posts"><span class="glyphicon glyphicon-pencil"></span>Пости</a></li>
            <li><a href="/admin/list-users"><span class="glyphicon glyphicon-user"></span>Користувачі</a></li>
        </ul>
    </div>
</nav>
    </div>
</div>

<div class="side-body">
{% block content %}{% endblock %}
</div>

{% endblock %}