{% extends 'admin_panel.html' %}

{% block title %} Редагувати пост {% endblock %}

{% block content %}
    <h1>Редагувати</h1>

    {% for post in edit_post %}
        <td><img src="/{{ post.image }}" style="max-width: 10%; max-height: 10%;" class="card-img-top" alt="image post"></td>


        <form method="POST" enctype="multipart/form-data">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
            
                        <div class="row">
                            <div class="col-md-8">
                        
                                <div class="form-group row">
                                    <label for="text" class="col-12 col-form-label">Заголовок поста</label> 
                                    <div class="col-12">
                                    <input id="text" name="title" placeholder="Ведіть заголовок" class="form-control here" type="text" value="{{ post.title }}" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="textarea" class="col-12 col-form-label">Опис поста</label> 
                                    <div class="col-12">
                                        {{ ckeditor.create(name="description", value=post.description )}} 
                                        
                                    </div>
                                </div> 
                                
                            </div>
                            <div class="col-md-4 ">
                                
                                <div class="card mb-3" style="max-width: 18rem;">
                                    <div class="card-header bg-light">Теги</div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-9">
                                            <input id="tags" name="tags" placeholder="Теги" class="form-control here" type="text" value="{{ post.tag }}" required>
                                            </div>
                                        </div> 
                                    </div>                                
                                </div>

                                <div class="card mb-3" style="max-width: 18rem;">
                                    <div class="card-header bg-light">Тип поста</div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-9">
                                                <select class="form-select"name="type" aria-label="Default select example">
                                                    <option value="news">news</option>
                                                    <option value="resources">resources</option>
                                                </select>
                                            </div>
                                        </div> 
                                    </div>                                
                                </div>

                                <div class="form-group row">
                                    <div class="col-9">
                                        <input type="file" accept="image/" name="image-post" class="form-control here">
                                    </div>
                                </div> 
                                <button name="submit" type="submit" class="btn btn-primary">Зберегти</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='description') }}
        </div>

    {% endfor %}

{% endblock %}