{% extends 'base.html' %}

{% block title %} Post name {% endblock %}

{% block link %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
<style>
    .post-title-block{padding:100px 0;}
    .footer-link{float:left; width:100%; background:#222222; text-align:center; padding:30px;}
</style>

{% for post in posts %}
    <img style="max-width: 30%; position:absolute;" src="/{{ post.image }}"  alt="image post">


    <section class="post-content-section">
    <div class="container">

            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
                <h1 style="text-align: center;">{{ post.title }}</h1>
                <h1 style="text-align: center;">{{ post.date }}</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <h2 class="lead">{{ post.description|safe }}</h2>

                
                </div>
                <div class="col-lg-3  col-md-3 col-sm-12">
                    {% for new in all_news %}
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <a href="/post/{{ new.title }}/{{ new.id }}">
                                <img src="/{{ new.image }}" class="card-img-top" alt="image new">
                            </a>
                            <ul class="list-inline mt-3">
                                <li class="list-inline-item"><i class="far fa-clock"></i> {{ new.date }}</li>
                            </ul>
                            <hr>
                            <p class="lead">{{ new.title }}</p>
                            <a class="btn btn-outline-dark my-2" href="/post/{{ new.title }}/{{ new.id }}" role="button">Читати більше</a>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
                

    </div> <!-- /container -->
    </section>

    <div class="card my-4">
        <h5 class="card-header">Прокоментуйте пост</h5>
        <div class="card-body">
          <form method="POST">
            <div class="form-group">
              <textarea name="text_comment" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Готово</button>
          </form>
        </div>
      </div>

      {% for author in author_comment %}
        {% for com in comments_for_post %}
            {% if author.id == com.id_author %}
                <!-- Single Comment -->
                <div class="media mb-4">
                    <img style="width:50px; height:50px;  border-radius: 50%;" src="/{{ author.img_avatar }}" class="img-responsive" alt="avatar author">
                    <div class="media-body">
                    
                        <h5 class="mt-0"> {{author.login}}</h5>
                        
                        {{ com.text }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
      {% endfor %}

      <!-- Comments -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

         

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>

    <section class="footer-link"><h2>Contacts</h2></section>
    {% endfor %}

{% endblock %}